/* colors: #05c7f2,
#05c1ea,
#f2cb05,
#f2b705,
#f25c05 */
body {
    font-family: 'Press Start 2P', cursive;
    background: url(https://images8.alphacoders.com/548/548142.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    background-color: #05c1ea;
    background-blend-mode: color;
}

.overlay {
    background-color: #000000d1;
    min-height: -webkit-fill-available;
}

.jumbotron {
    background-color: #717171;
    border: 6px double;
    border-radius: 20px;
}

.chosen-select {
    margin-bottom: 20px;
}

#matchImg {
    margin-left: 10%;
    box-shadow: 1px 1px 1px black;
}

.modal-title {
    color: black
}

.modal-body {
    color: black
}

.modal-footer {
    color: black
}